/* --- SIDEBAR --- */

.containerMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.sidebar {
  flex: 0 0 220px;
  background: #fef8e7;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
  margin: 20px auto;
  width: 90%;  
}

.search-form {
  display: flex;
  margin-bottom: 20px;
}

.search-form input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  font-size: 18px;
}

.search-form button {
  padding: 8px 12px;
  border: none;
  background: #2e7d32;
  color: white;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.search-form button:hover {
  background: #256428;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  background: #fff;
  border-radius: 6px;
  font-size: 20px;
  color: #2e7d32;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background: #2e7d32;
  color: white;
}



/* --- CATALOG --- */
.catalog {
  flex: 1; 
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
  padding: 20px;
}



.animal {

  flex: 1 1 calc(25% - 15px);
  
  min-width: 200px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}

.animal img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}


@media (max-width: 768px) {
    .containerMain {
        flex-direction: column; 
    }
    
    .sidebar {
        flex: 1 1 100%;
        margin: 20px 15px 0 15px; 
        width: auto;
    }

    .animal {
        flex: 1 1 100%; 
        max-width: 400px; 
        margin: 0 auto 15px auto; 
    }
}