@import url(header.css);
@import url(sidebar.css);
@import url(hero.css);
@import url(catalog.css);
@import url(footer.css);

body {
  font-family: 'DM Sans', sans-serif;
 margin: 0;
  padding: 0;

}
